.mat-icon {
  font-size: 20px;
}

.fp_restrictions{
  margin: 1rem 0;
  text-align: right;
}

.size-light{
  background-color: #757575;
  color: white;
}

.size{
  height:fit-content;
  display: inline-block;
  padding: 0.5rem 0.5rem;
  font-size: .8rem;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  vertical-align: baseline;
  border-radius: 30px;
}
