<div (mouseover)="hideButton=false" (mouseout)="hideButton=true" cdkDrag>
    <div align="end" (mouseover)="hideButton=false" (mouseout)="hideButton=true" style="height: 20px;margin-bottom: 10px;">
      <button mat-icon-button class="m-0" [hidden]="hideButton" cdkDragHandle style="cursor: move;">
        <mat-icon>open_with</mat-icon>
      </button>
      <button mat-icon-button class="m-0" [hidden]="hideButton" (click)="onDelete()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>

    <mat-form-field appearance="fill" [class]="field.classes.field" [style]="field.styles">
        <mat-label>{{field.label}}</mat-label>
        <input [attr.type]="field.type" matInput (input)="onValueChange($event.target.value)" [placeholder]="field.placeholder" [formControl]="control">
        <mat-icon *ngIf="field.suffixIcon" matSuffix>{{field.suffixIcon}}</mat-icon>
        <mat-icon *ngIf="field.prefixIcon" matPrefix>{{field.prefixIcon}}</mat-icon>
        <mat-hint>{{field.hint}}</mat-hint>
        <mat-error *ngIf="control.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
</div>
