.radio-button{
  margin-left: 16px;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

#criteria {
  background-color:#757575;
  color:white
}
