/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100vh;
  width: 100%;
  min-height: 100% !important;
}

.btn.mat-mdc-icon-button.mat-mdc-button-base{
  --mdc-icon-button-state-layer-size: 30px;
  padding: 0;
}

.btn .mat-icon{
  font-size: 20px;
  margin-top: 5px;
}

/* customize scroll bar */

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 30px !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}